.u-width1 {
  width: 35%;
}

.u-width2 {
  width: 80px;
}

.u-width3 {
  width: 80px;
}

.u-width4 {
  width: 100px !important;
}

.u-width5 {
  width: 140px;
}

.u-width6 {
  width: 120px;
}

.u-width7 {
  width: 90px;
}

.u-width8 {
  width: 90px;
}

.u-width9 {
  width: 90px;
}

.u-width10 {
  width: 67%;
}

.u-width11 {
  width: 100%;
}

.u-width12 {
  width: 60%;
  display: inline-block;
  margin-left: 60px;
}

.u-width13 {
  width: 20% !important;
}

.u-width14 {
  width: 18%;
}

@media screen and (max-width: 1023px) {
  .u-width14 {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .u-width14 {
    width: 50%;
  }
}

.u-width15 {
  width: 750px;
}

@media screen and (max-width: 767px) {
  .u-width15 {
    width: 90%;
  }
}

.u-width16 {
  width: 650px;
  display: block;
  margin: 40px auto 0;
}

@media screen and (max-width: 1023px) {
  .u-width16 {
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .u-width16 {
    width: 70%;
  }
}

.u-width17 {
  height: 70px;
  width: auto;
  margin-left: 5px;
}

.u-width18 {
  width: 10% !important;
}

.u-width20 {
  width: 40%;
  display: block;
  margin: 40px auto 0;
}

.u-width21 {
  width: 450px;
}

@media screen and (max-width: 767px) {
  .u-width21 {
    width: 90%;
  }
}

.u-width22 {
  width: 253px;
  margin-left: 100px;
}

@media screen and (max-width: 767px) {
  .u-width22 {
    width: 150px;
    text-align: initial;
    line-height: 1.5em;
    margin-left: -5px;
    padding-left: 6px;
  }
}

.u-width23 {
  width: 60%;
}

.u-width24 {
  width: 70%;
}

.u-width25 {
  width: 25% !important;
  height: 0 !important;
}

.u-width26 {
  width: 100px;
  display: block;
  margin: 40px auto;
}

@media screen and (max-width: 767px) {
  .u-width26 {
    width: 130px;
    margin-top: 20px;
  }
}

.u-width27 {
  width: 250px;
}

.u-width28 {
  width: 30%;
  display: block;
  margin: 40px auto 0;
}

@media screen and (max-width: 1023px) {
  .u-width28 {
    display: none;
  }
}

.u-width29 {
  width: 92%;
  padding-left: 0px;
}

@media screen and (max-width: 1023px) {
  .u-width29 {
    width: 750px;
    margin-left: 380px;
  }
}

.u-width30 {
  width: 49%;
}

@media screen and (max-width: 767px) {
  .u-width30 {
    width: 80%;
  }
}

.u-width31 {
  width: 189px;
}

.u-width32 {
  width: 10% !important;
}

.u-width33 {
  width: 5% !important;
}

.u-width34 {
  width: 12% !important;
}

.u-width35 {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .u-width35 {
    width: 35px;
  }
}

.u-width36 {
  width: 160px;
}

.u-width37 {
  width: 780px;
}

@media screen and (max-width: 1023px) {
  .u-width37 {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .u-width37 {
    width: 80%;
  }
}

.u-width38 {
  width: 180px !important;
}

.u-width39 {
  width: 120px;
}

@media screen and (max-width: 1023px) {
  .u-width39 {
    width: 100px;
  }
}

.u-width40 {
  width: 225px;
}

@media screen and (max-width: 1023px) {
  .u-width40 {
    width: 100%;
  }
}

.u-width41 {
  width: 400px;
}

@media screen and (max-width: 767px) {
  .u-width41 {
    width: 90%;
  }
}

.u-width42 {
  width: 440px;
}

@media screen and (max-width: 767px) {
  .u-width42 {
    width: 90%;
  }
}

.u-width43 {
  width: 676px;
}

@media screen and (max-width: 767px) {
  .u-width43 {
    width: 75%;
  }
}

.u-width44 {
  width: 220px !important;
}

.u-width45 {
  width: 1000px;
}

.u-width46 {
  width: 180px !important;
}

.u-width47 {
  width: 100px !important;
}

.u-width48 {
  width: 348px;
}

.u-width49 {
  width: 222px;
}

@media screen and (max-width: 1023px) {
  .u-width49 {
    width: 166px;
  }
}

@media screen and (max-width: 767px) {
  .u-width49 {
    margin-left: auto;
    margin-right: auto;
  }
}

.u-width50 {
  width: 203px !important;
}

.u-width51 {
  width: 155px !important;
}

.u-width52 {
  width: 40px !important;
}

@media screen and (max-width: 1023px) {
  .u-width52 {
    width: 30px !important;
  }
}

.u-width53 {
  width: 210px !important;
}

.u-width54 {
  width: 150px !important;
}

.u-width55 {
  width: 510px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .u-width55 {
    width: 91%;
    text-align: initial;
  }
}

@media screen and (max-width: 1023px) {
  .u-width56 {
    width: 86px !important;
  }
}

@media screen and (max-width: 1023px) {
  .u-width57 {
    width: 160px;
  }
}

.u-width58 {
  width: 300px;
}

@media screen and (max-width: 1023px) {
  .u-width58 {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .u-width58 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

.u-width59 {
  width: 461px;
}

.u-width60 {
  width: 561px;
}

.u-width61 {
  width: 500px;
}

@media screen and (max-width: 767px) {
  .u-width61 {
    width: 89%;
  }
}

.u-width62 {
  width: 664px;
}

@media screen and (max-width: 1023px) {
  .u-width62 {
    width: 570px;
  }
}

@media screen and (max-width: 767px) {
  .u-width62 {
    width: 89%;
  }
}

.u-width63 {
  width: 516px;
}

.u-width64 {
  width: 600px;
}

.u-width65 {
  width: 120px;
}

@media screen and (max-width: 767px) {
  .u-width65 {
    width: 100px;
  }
}

.u-width66 {
  width: 520px;
}

@media screen and (max-width: 1023px) {
  .u-width66 {
    width: 426px;
  }
}

@media screen and (max-width: 767px) {
  .u-width66 {
    width: 89%;
  }
}

.u-width67 {
  width: 620px;
}

@media screen and (max-width: 1023px) {
  .u-width67 {
    width: 520px;
  }
}

@media screen and (max-width: 767px) {
  .u-width67 {
    width: 89%;
  }
}

.u-width68 {
  width: 225px;
}

@media screen and (max-width: 767px) {
  .u-width68 {
    width: 142px;
    margin-top: 36px;
  }
}

.u-width69 {
  width: 1000px;
}

@media screen and (max-width: 1023px) {
  .u-width69 {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .u-width69 {
    width: 90%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1023px) {
  .u-width70 {
    width: 186px;
  }
}

.u-width71 {
  width: 186px;
}

@media screen and (max-width: 1023px) {
  .u-width71 {
    width: 168px;
    margin-left: auto !important;
    margin-right: auto;
  }
}

.u-width72 {
  width: 195px;
}

@media screen and (max-width: 1023px) {
  .u-width72 {
    width: 44px;
  }
}

@media screen and (max-width: 767px) {
  .u-width73 {
    width: 120px;
  }
}

.u-width74 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1023px) {
  .u-width75 {
    width: 447px;
  }
}

@media screen and (max-width: 767px) {
  .u-width75 {
    width: 81%;
  }
}

@media screen and (max-width: 767px) {
  .u-width76 {
    width: 80%;
  }
}

@media screen and (max-width: 1023px) {
  .u-width77 {
    width: 380px;
  }
}

@media screen and (max-width: 767px) {
  .u-width77 {
    width: 80%;
  }
}

@media screen and (max-width: 1023px) {
  .u-width78 {
    width: 380px;
  }
}

@media screen and (max-width: 767px) {
  .u-width78 {
    width: 80%;
  }
}

.u-width79 {
  width: 300px;
}

.u-width80 {
  width: 372px;
}

.u-width81 {
  width: 100px;
}

.u-width82 {
  width: 900px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1023px) {
  .u-width82 {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .u-width82 {
    width: 90%;
  }
}

.u-width83 {
  width: 962px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=u-width.css.map */