.c-block{
    position:relative;
    padding-top: 50px;
    @media screen and (max-width:767px){
        padding-top: 10px;
    }
    &__content{
        font-size: 18px;
        width: 90%;
        line-height:2em;
        margin: 30px auto 0;
        @media screen and (max-width:1023px){
            font-size: 16px;
        }
        @media screen and (max-width:767px){
            width: 80%;
            font-size: 14px;
        }
    }
    &__detail{
        display: none;
        @media screen and (max-width:1023px){
            display: block;
            font-weight: bold;
            font-size: 18px;
            margin: 10px 0;
            margin-top: 20px;
            margin-left: 7%;
        }
    }
    &__field{
        position:absolute;
        top:42px;
        left:200px;
        @media screen and (max-width:767px){
            top:24px;
            left:9%;
        }
    }
    &__sub-title{
        font-size: 28px;
        font-weight: bold;
        @media screen and (max-width:1023px){
            font-size: 20px;
        }
        @media screen and (max-width:767px){
            font-size: 16px;
        }
    }
    &__strong-block{
        position:relative;
    }
    &__strong-block{
        position:absolute;
        top:79px;
        left:500px;
        z-index:10;
    }
    &__title{
        font-size: 80px;
        color:#d9d9d9;
        font-weight: bold;
        margin-left: 30px;
        @media screen and (max-width:1023px){
            font-size: 55px;
        }
        @media screen and (max-width:767px){
            font-size: 35px;
            margin-left: 6px;
        }
    }
}
.c-block-field{
    margin-top: 70px;
    &__block1{
        margin-left:auto;
        width: 96%;
        position:relative;
        @media screen and (max-width:767px){
            position:initial;
            margin-right:auto;
            margin-top: 40px;
        }
    }
    &__block2{
        width: 84%;
    }
    &__bgc1{
        width: 46%;
        position: absolute;
        right: 0;
        top: 0px;
        text-align: center;
        background:linear-gradient(to bottom right,#a0cbde ,#afe9ce);
        @media screen and (max-width:1023px){
            width: 54%;
        }
        @media screen and (max-width:767px){
            position:initial;
            width: 100%;
        }
    }
    &__bgc1-title{
        font-size: 20px;
        font-weight: bold;
        padding-top: 3%;
        padding-bottom: 3%;
        @media screen and (max-width:1023px){
            font-size: 18px;
        }
        @media screen and (max-width:767px){
            font-size: 16px;
        }
    }
    &__bgc1-img{
        width: 100%;
        margin-top: 20px;
        @media screen and (max-width:767px){
            width: 90%;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
    &__bgc1-content{
        font-size: 16px;
        line-height: 2em;
        margin:30px auto;
        width: 89%;
        @media screen and (max-width:1023px){
            font-size: 14px;
        }
    }
    &__bg1{
        width: 35%;
        position: absolute;
        top: 44px;
        right: 0;
        @media screen and (max-width:1023px){
            width: 40%;
        }
        @media screen and (max-width:767px){
            position:initial;
            width: 100%;
        }
    }
    &__bg2{
        width: 35%;
        @media screen and (max-width:1023px){
            width: 40%;
        }
    }
    &__border1{
        border: 4px solid #009999;
        z-index: 3;
        width: 94%;
        height: 90%;
        position: absolute;
        top: 4%;
        left: 8%;
    }
    &__bgc2-img{
        width: 100%;
        z-index:3;
    }
    &__bgc2-title{
        font-size: 20px;
        font-weight: bold;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
        @media screen and (max-width:1023px){
            font-size: 18px;
        }
        @media screen and (max-width:767px){
            font-size: 16px;
        }
    }
    &__bgc2-content{
        font-size: 16px;
        line-height: 2em;
        margin:0 auto 30px;
        width: 89%;
        @media screen and (max-width:1023px){
            font-size: 14px;
        }
    }
    &__bgc2{
        width: 38%;
        position: absolute;
        left: 0;
        bottom: -56px;
        z-index: -2;
        background:linear-gradient(to bottom right,#a0cbde ,#afe9ce);
        @media screen and (max-width:1023px){
            width: 54%;
        }
        @media screen and (max-width:767px){
            position:initial;
        }
    }
    &__border2{
        border: 4px solid #009999;
        position: absolute;
        top: 4%;
        right: 8%;
        z-index: 2;
        width: 94%;
        height: 90%;
    }
}