.c-flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 4;
  width: 65%;
  padding-top: 10px;
  padding-left: 20px;
}

@media screen and (max-width: 1023px) {
  .c-flex-nav {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .c-flex-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
}

.c-flex-nav > li {
  width: 140px;
  height: 60px;
}

@media screen and (max-width: 1023px) {
  .c-flex-nav > li {
    width: 84px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .c-flex-nav > li {
    width: 208px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.c-flex-nav__link {
  color: #222;
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 5px 0;
}

@media screen and (max-width: 1023px) {
  .c-flex-nav__link {
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  .c-flex-nav__link {
    font-size: 20px !important;
    color: #fff !important;
    background: none !important;
    padding: 0 !important;
  }
}

.c-flex-nav__link:hover {
  color: #fff;
  padding: 5px 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#4197b6), to(#63de9f));
  background: linear-gradient(to bottom right, #4197b6, #63de9f);
  border-radius: 20px;
}

.c-flex-nav__list {
  line-height: 1.5em;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  width: 218px;
  margin-left: auto;
}

.c-flex-nav__mouseover {
  padding-bottom: 60px;
}

.c-flex-nav__mouseover li {
  height: 0;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.c-flex-nav__mouseover li:hover {
  height: 15px;
  line-height: 15px;
  overflow: visible;
  margin-top: 20px;
  color: #fff;
}

.c-flex-nav__mouseover a {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .c-flex-nav__mouseover a {
    font-size: 18px;
  }
}

.c-flex-nav__mouseover a:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#4197b6), to(#63de9f));
  background: linear-gradient(to bottom right, #4197b6, #63de9f);
  border-radius: 20px;
  color: #fff;
  padding: 5px;
}

.c-flex-nav--border {
  border: 2px solid #000;
  padding: 10px;
}

.c-flex-nav a {
  color: #000;
  display: block;
  text-align: center;
  width: 140px;
}

@media screen and (max-width: 1023px) {
  .c-flex-nav a {
    width: 100px;
  }
}

@media screen and (max-width: 767px) {
  .c-flex-nav a {
    width: 208px;
  }
}

.c-flex-nav a:hover {
  text-shadow: initial;
}

.c-flex-nav li:hover > ul > li {
  height: 15px;
  line-height: 15px;
  overflow: visible;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
}

.c-flex__functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  .c-flex__functions {
    width: 700px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .c-flex__functions {
    width: 100%;
  }
}

.c-flex__functions-list1, .c-flex__functions-list2, .c-flex__functions-list3, .c-flex__functions-list4, .c-flex__functions-list5, .c-flex__functions-list6, .c-flex__functions-list7, .c-flex__functions-list8, .c-flex__functions-list9, .c-flex__functions-list10, .c-flex__functions-list11, .c-flex__functions-list12, .c-flex__functions-list13, .c-flex__functions-list14, .c-flex__functions-list15, .c-flex__functions-list16 {
  width: 27%;
  height: auto;
}

.c-flex__functions-block {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px 0px;
  width: 81%;
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .c-flex__functions-block {
    width: 100%;
  }
}

.c-flex__functions-block:hover {
  opacity: 1;
}

.c-flex__functions-title {
  margin-top: 10px;
  text-align: center;
  line-height: 1.3em;
  font-size: 14px;
}

@media screen and (max-width: 1023px) {
  .c-flex__functions-title {
    font-size: 13px;
  }
}

.c-flex__functions-img {
  width: 53%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1023px) {
  .c-flex__functions-img {
    width: 40%;
  }
}

.c-flex__functions-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-flex__functions-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 50px auto 0;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .c-flex__functions-field {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .c-flex__functions-field {
    width: 90%;
  }
}

.c-flex__functions-list1, .c-flex__functions-list2, .c-flex__functions-list3, .c-flex__functions-list4, .c-flex__functions-list5, .c-flex__functions-list6, .c-flex__functions-list7, .c-flex__functions-list8, .c-flex__functions-list9, .c-flex__functions-list10, .c-flex__functions-list11, .c-flex__functions-list12, .c-flex__functions-list15, .c-flex__functions-list16 {
  padding-bottom: 0 !important;
  margin-bottom: 25px;
}

@media screen and (max-width: 1023px) {
  .c-flex__functions-list1, .c-flex__functions-list2, .c-flex__functions-list3, .c-flex__functions-list4, .c-flex__functions-list5, .c-flex__functions-list6, .c-flex__functions-list7, .c-flex__functions-list8, .c-flex__functions-list9, .c-flex__functions-list10, .c-flex__functions-list11, .c-flex__functions-list12, .c-flex__functions-list15, .c-flex__functions-list16 {
    width: 45%;
  }
}
/*# sourceMappingURL=c-flex.css.map */